{
    "openapi": "3.0.2",
    "info": {
        "title": "Etsy OpenAPI",
        "description": "<div class=\"wt-text-body-01\"><p class=\"wt-pt-xs-2 wt-pb-xs-2\">Etsy's Open API provides a simple RESTful interface for various Etsy.com features. The API reference documents endpoints are meant to replace <a target=\"_blank\" class=\"wt-text-link wt-p-xs-0\" href=\"https://www.etsy.com/developers/documentation\">Etsy's current Open API</a> this year. Use of the API is subject to the <a target=\"_blank\" class=\"wt-text-link wt-p-xs-0\" href=\"https://www.etsy.com/legal/api\">API Terms of Use</a>.</p><p class=\"wt-pb-xs-2\">The API is currently in an experimental, alpha phase meant to validate feature and functionality requirements. During this phase, endpoints may have significant design changes but developers will have an opportunity to preview endpoints and provide feedback that will help shape Etsy's Open API functionality. The alpha API design is not stable and will likely change in response to feedback but we'll communicate changes as they are made.</p><p class=\"wt-pb-xs-2\">All of the endpoints are callable, but many endpoints are currently interface stubs and will return a \"501 Not Implemented\" response code when called; the documentation for each of these stub endpoints includes an alert calling this out.</p><p class=\"wt-pb-xs-2\">If you'd like to report an issue or provide feedback on the API design, <a target=\"_blank\" class=\"wt-text-link wt-p-xs-0\" href=\"https://github.com/etsy/open-api/issues/new/choose\">please add an issue in Github</a>. You grant us a license to use your feedback as described in Etsy's primary <a target=\"_blank\" class=\"wt-text-link wt-p-xs-0\" href=\"https://www.etsy.com/legal/terms-of-use\">Terms of Use.</a></p><p class=\"wt-pb-xs-2\">If you would like to make requests to the Open API v3 endpoints, please contact <a target=\"_blank\" class=\"wt-text-link wt-p-xs-0\" href=\"mailto:developers@etsy.com\">developers@etsy.com</a> and provide your API key and an OAuth2 callback URL for authentication.</p></div>&copy; 2021 Etsy, Inc. All Rights Reserved. Use of this code is subject to Etsy's <a class='wt-text-link wt-p-xs-0' target='_blank' href='https://www.etsy.com/legal/api'>API Developer Terms of Use</a>.",
        "termsOfService": "https://www.etsy.com/legal/api",
        "contact": {
            "email": "developers@etsy.com"
        },
        "version": "3.0.0",
        "x-logo": {
            "url": "https://img0.etsystatic.com/site-assets/open-api/etsy_logo.png",
            "backgroundColor": "#FFFFFF",
            "altText": "Etsy Logo"
        }
    },
    "servers": [
        {
            "url": "https://openapi.etsy.com",
            "description": "Base url for all Integrations endpoints."
        }
    ],
    "security": [
        {
            "api_key": []
        }
    ],
    "tags": [
        {
            "name": "User"
        },
        {
            "name": "UserFeedback"
        },
        {
            "name": "UserAddress"
        },
        {
            "name": "Shop Receipt Transactions"
        },
        {
            "name": "Shop"
        },
        {
            "name": "ShopListing"
        },
        {
            "name": "Shop Section"
        },
        {
            "name": "Shop Receipt"
        },
        {
            "name": "Payment"
        },
        {
            "name": "Ledger Entry"
        },
        {
            "name": "ShopListing VariationImage"
        },
        {
            "name": "ShopListing Translation"
        },
        {
            "name": "ShopListing ShippingProfile"
        },
        {
            "name": "ShopListing Inventory"
        },
        {
            "name": "ShopListing Offering"
        },
        {
            "name": "ShopListing Product"
        },
        {
            "name": "ShopListing Image"
        },
        {
            "name": "ShopListing File"
        },
        {
            "name": "Country"
        }
    ],
    "x-tagGroups": [
        {
            "name": "Country Management",
            "tags": ["Country"]
        },
        {
            "name": "Listing Management",
            "tags": [
                "ShopListing",
                "ShopListing File",
                "ShopListing Image",
                "ShopListing Inventory",
                "ShopListing Offering",
                "ShopListing Product",
                "ShopListing ShippingProfile",
                "ShopListing Translation",
                "ShopListing VariationImage"
            ]
        },
        {
            "name": "Payment Management",
            "tags": ["Ledger Entry", "Payment"]
        },
        {
            "name": "Receipt Management",
            "tags": ["Shop Receipt", "Shop Receipt Transactions"]
        },
        {
            "name": "Shop Management",
            "tags": ["Shop", "Shop Section"]
        },
        {
            "name": "User Management",
            "tags": ["User", "UserAddress", "UserFeedback"]
        }
    ],
    "paths": {
        "/v3/public/openapi/countries/{country_id}": {
            "get": {
                "operationId": "getCountry",
                "description": "Open API V3 to retrieve a country by ID.",
                "tags": ["Country"],
                "parameters": [
                    {
                        "name": "country_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single Country",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Country"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/public/openapi/countries": {
            "get": {
                "operationId": "getCountries",
                "description": "OpenAPI V3 endpoint to find all countries.",
                "tags": ["Country"],
                "responses": {
                    "200": {
                        "description": "A list of Countries",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Countries"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/application/feedback": {
            "get": {
                "operationId": "getPublicUserFeedback",
                "description": "<div class=\"wt-alert wt-alert--inline wt-alert--status-02 wt-mb-xs-2\"><p class=\"wt-text-body-01\">This endpoint isn't functional but we welcome feedback on the proposed schema below.</p></div>\n\nOpen API V3 endpoint to retrieve UserFeedback written by or received by a User.",
                "tags": ["UserFeedback"],
                "parameters": [
                    {
                        "name": "creator_user_id",
                        "in": "query",
                        "description": "The numeric ID of the user who wrote this feedback.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "description": "The numeric ID of the user who wrote this feedback.",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "target_user_id",
                        "in": "query",
                        "description": "The numeric ID of the user who received this feedback.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "description": "The numeric ID of the user who received this feedback.",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "A limit on the number of results to be returned.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "description": "A limit on the number of results to be returned.",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The number of items to skip before starting to collect the result set.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "description": "The number of items to skip before starting to collect the result set.",
                            "minimum": 0,
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of UserFeedback records",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicUserFeedbacks"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["feedback_r"]
                    }
                ]
            }
        },
        "/v3/application/listings": {
            "post": {
                "operationId": "createListing",
                "description": "Creates a new listing",
                "tags": ["ShopListing"],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "quantity",
                                    "title",
                                    "description",
                                    "price",
                                    "who_made",
                                    "when_made",
                                    "taxonomy_id"
                                ],
                                "properties": {
                                    "quantity": {
                                        "type": "integer"
                                    },
                                    "title": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "price": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "who_made": {
                                        "type": "string",
                                        "enum": [
                                            "i_did",
                                            "someone_else",
                                            "collective"
                                        ]
                                    },
                                    "when_made": {
                                        "type": "string",
                                        "enum": [
                                            "made_to_order",
                                            "2020_2020",
                                            "2010_2019",
                                            "2001_2009",
                                            "before_2001",
                                            "2000_2000",
                                            "1990s",
                                            "1980s",
                                            "1970s",
                                            "1960s",
                                            "1950s",
                                            "1940s",
                                            "1930s",
                                            "1920s",
                                            "1910s",
                                            "1900s",
                                            "1800s",
                                            "1700s",
                                            "before_1700"
                                        ]
                                    },
                                    "taxonomy_id": {
                                        "type": "integer",
                                        "minimum": 1
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": ["physical", "download"],
                                        "default": 0
                                    },
                                    "materials": {
                                        "type": "array",
                                        "nullable": true,
                                        "items": {
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "shipping_profile_id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "minimum": 1
                                    },
                                    "shop_section_id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "minimum": 1
                                    },
                                    "processing_min": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "processing_max": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "tags": {
                                        "type": "array",
                                        "nullable": true,
                                        "items": {
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "recipient": {
                                        "type": "string",
                                        "nullable": true,
                                        "enum": [
                                            "men",
                                            "women",
                                            "unisex_adults",
                                            "teen_boys",
                                            "teen_girls",
                                            "teens",
                                            "boys",
                                            "girls",
                                            "children",
                                            "baby_boys",
                                            "baby_girls",
                                            "babies",
                                            "birds",
                                            "cats",
                                            "dogs",
                                            "pets",
                                            "not_specified"
                                        ]
                                    },
                                    "occasion": {
                                        "type": "string",
                                        "nullable": true,
                                        "enum": [
                                            "anniversary",
                                            "baptism",
                                            "bar_or_bat_mitzvah",
                                            "birthday",
                                            "canada_day",
                                            "chinese_new_year",
                                            "cinco_de_mayo",
                                            "confirmation",
                                            "christmas",
                                            "day_of_the_dead",
                                            "easter",
                                            "eid",
                                            "engagement",
                                            "fathers_day",
                                            "get_well",
                                            "graduation",
                                            "halloween",
                                            "hanukkah",
                                            "housewarming",
                                            "kwanzaa",
                                            "prom",
                                            "july_4th",
                                            "mothers_day",
                                            "new_baby",
                                            "new_years",
                                            "quinceanera",
                                            "retirement",
                                            "st_patricks_day",
                                            "sweet_16",
                                            "sympathy",
                                            "thanksgiving",
                                            "valentines",
                                            "wedding"
                                        ]
                                    },
                                    "styles": {
                                        "type": "array",
                                        "nullable": true,
                                        "items": {
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "item_weight": {
                                        "type": "number",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "item_length": {
                                        "type": "number",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "item_width": {
                                        "type": "number",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "item_height": {
                                        "type": "number",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "item_weight_unit": {
                                        "type": "string",
                                        "nullable": true,
                                        "enum": ["oz", "lb", "g", "kg"]
                                    },
                                    "item_dimensions_unit": {
                                        "type": "string",
                                        "nullable": true,
                                        "enum": [
                                            "in",
                                            "ft",
                                            "mm",
                                            "cm",
                                            "m",
                                            "yd",
                                            "inches"
                                        ]
                                    },
                                    "is_personalizable": {
                                        "type": "boolean"
                                    },
                                    "image_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "minimum": 1
                                        }
                                    },
                                    "state": {
                                        "type": "string"
                                    },
                                    "channels": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "etsy.com",
                                                "wholesale",
                                                "pattern",
                                                "sell_on_facebook"
                                            ]
                                        }
                                    },
                                    "is_supply": {
                                        "type": "boolean"
                                    },
                                    "is_customizable": {
                                        "type": "boolean"
                                    },
                                    "is_taxable": {
                                        "type": "boolean"
                                    },
                                    "is_private": {
                                        "type": "boolean"
                                    },
                                    "should_auto_renew": {
                                        "type": "boolean"
                                    },
                                    "is_digital": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "A single ShopListing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListing"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There was a problem with the request data. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_w"]
                    }
                ]
            },
            "get": {
                "operationId": "getListings",
                "description": "Endpoint to list Listings that belong to a Shop. Listings can be filtered using the 'state' param.",
                "tags": ["ShopListing"],
                "parameters": [
                    {
                        "name": "state",
                        "in": "query",
                        "description": "listing_state",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "listing_state",
                            "enum": [
                                "active",
                                "inactive",
                                "removed",
                                "draft",
                                "expired",
                                "sold_out"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "description": "limit",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "offset",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "description": "offset",
                            "minimum": 0,
                            "default": 0
                        }
                    },
                    {
                        "name": "sort_on",
                        "in": "query",
                        "description": "listing_sort_on",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "listing_sort_on",
                            "enum": ["created", "price", "score"],
                            "default": "created"
                        }
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "description": "listing_sort_order",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "listing_sort_order",
                            "enum": [
                                "asc",
                                "ascending",
                                "desc",
                                "descending",
                                "up",
                                "down"
                            ],
                            "default": "DESC"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of Listings",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListings"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There was a problem with the request data. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_r"]
                    }
                ]
            }
        },
        "/v3/application/listings/{listing_id}": {
            "delete": {
                "operationId": "deleteListing",
                "description": "<div class=\"wt-alert wt-alert--inline wt-alert--status-02 wt-mb-xs-2\"><p class=\"wt-text-body-01\">This endpoint isn't functional but we welcome feedback on the proposed schema below.</p></div>\n\nOpen API V3 endpoint to delete a ShopListing.",
                "tags": ["ShopListing"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique ID of an Etsy Listing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of an Etsy Listing.",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single ShopListing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListing"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_d"]
                    }
                ]
            },
            "get": {
                "operationId": "getListing",
                "description": "Get a listing",
                "tags": ["ShopListing"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique ID of an Etsy Listing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of an Etsy Listing.",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single Listing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListing"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "operationId": "updateListing",
                "description": "<div class=\"wt-alert wt-alert--inline wt-alert--status-02 wt-mb-xs-2\"><p class=\"wt-text-body-01\">This endpoint isn't functional but we welcome feedback on the proposed schema below.</p></div>\n\nUpdates a ShopListing.",
                "tags": ["ShopListing"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique ID of an Etsy Listing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of an Etsy Listing.",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "quantity": {
                                        "type": "integer",
                                        "description": "The quantity of this item available for sale. Note: The quantity is the total number of available offerings. The getInventory method will detail quantities for individual offerings."
                                    },
                                    "title": {
                                        "type": "string",
                                        "description": "The listing's title. This string is valid if it does not match the following pattern: /[^\\p{L}\\p{Nd}\\p{P}\\p{Sm}\\p{Zs}™©®]/u. The characters %, :, & and + can only be used once each."
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "A description of the item."
                                    },
                                    "price": {
                                        "type": "number",
                                        "description": "The item's price (will be treated as private for sold listings). Note: The price is the minimum possible price. The getInventory method will detail exact prices for available offerings.",
                                        "format": "float"
                                    },
                                    "materials": {
                                        "type": "array",
                                        "description": "A list of materials used in the item. A material is valid if it does not match the pattern: /[^\\p{L}\\p{Nd}\\p{Zs}]/u",
                                        "nullable": true,
                                        "items": {
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "is_renew": {
                                        "type": "boolean",
                                        "description": "To renew a listing for another four months, pass the optional parameter renew=true. A listing does not need to be expired to be renewed, however note that each renewal does not take the listing's previous expiration date into account, so any unused time remaining on the listing's old expiration date will be lost. Renewals will result in charges to a user's bill."
                                    },
                                    "shipping_profile_id": {
                                        "type": "integer",
                                        "description": "The numeric ID of the shipping profile associated with the listing.",
                                        "nullable": true,
                                        "minimum": 1
                                    },
                                    "shop_section_id": {
                                        "type": "integer",
                                        "description": "The numeric ID of the shop section for this listing.",
                                        "nullable": true,
                                        "minimum": 1
                                    },
                                    "is_customizable": {
                                        "type": "boolean",
                                        "description": "If this flag is true, a buyer may contact the seller for a customized order. Can only be set when the shop accepts custom orders and defaults to true in that case."
                                    },
                                    "item_weight": {
                                        "type": "number",
                                        "description": "How much the item weighs.",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "item_length": {
                                        "type": "number",
                                        "description": "How long the item is.",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "item_width": {
                                        "type": "number",
                                        "description": "How wide the item is.",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "item_height": {
                                        "type": "number",
                                        "description": "How tall the item is.",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "item_weight_unit": {
                                        "type": "string",
                                        "description": "The units used to represent the weight of this item.",
                                        "nullable": true,
                                        "enum": ["oz", "lb", "g", "kg"]
                                    },
                                    "item_dimensions_unit": {
                                        "type": "string",
                                        "description": "The units used to represent the dimensions of this item.",
                                        "nullable": true,
                                        "enum": [
                                            "in",
                                            "ft",
                                            "mm",
                                            "cm",
                                            "m",
                                            "yd",
                                            "inches"
                                        ]
                                    },
                                    "is_taxable": {
                                        "type": "boolean",
                                        "description": "If this flag is true, any applicable shop tax rates will be applied to this listing on checkout."
                                    },
                                    "taxonomy_id": {
                                        "type": "integer",
                                        "description": "The seller taxonomy id of the listing",
                                        "minimum": 1
                                    },
                                    "tags": {
                                        "type": "array",
                                        "description": "A list of tags for the item. A tag is valid if it does not match the pattern: /[^\\p{L}\\p{Nd}\\p{Zs}\\-'™©®]/u",
                                        "nullable": true,
                                        "items": {
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "who_made": {
                                        "type": "string",
                                        "description": "Who made the item being listed",
                                        "enum": [
                                            "i_did",
                                            "someone_else",
                                            "collective"
                                        ]
                                    },
                                    "when_made": {
                                        "type": "string",
                                        "description": "When was the item made.",
                                        "enum": [
                                            "made_to_order",
                                            "2020_2020",
                                            "2010_2019",
                                            "2001_2009",
                                            "before_2001",
                                            "2000_2000",
                                            "1990s",
                                            "1980s",
                                            "1970s",
                                            "1960s",
                                            "1950s",
                                            "1940s",
                                            "1930s",
                                            "1920s",
                                            "1910s",
                                            "1900s",
                                            "1800s",
                                            "1700s",
                                            "before_1700"
                                        ]
                                    },
                                    "processing_min": {
                                        "type": "integer",
                                        "description": "The minimum number of days for processing for this listing.",
                                        "nullable": true,
                                        "minimum": 0
                                    },
                                    "processing_max": {
                                        "type": "integer",
                                        "description": "The maximum number of days for processing for this listing.",
                                        "nullable": true,
                                        "minimum": 0
                                    },
                                    "featured_rank": {
                                        "type": "integer",
                                        "description": "Position in the featured listings portion of the shop",
                                        "nullable": true
                                    },
                                    "image_ids": {
                                        "type": "array",
                                        "description": "An array of images for the listing, can include up to 10 images.",
                                        "items": {
                                            "type": "integer",
                                            "minimum": 1
                                        }
                                    },
                                    "is_auto_renew": {
                                        "type": "boolean",
                                        "description": "True if this listing has been set to automatically renew."
                                    },
                                    "sku": {
                                        "type": "string",
                                        "description": "A list of distinct SKUs applied to a listing."
                                    },
                                    "is_personalizable": {
                                        "type": "boolean",
                                        "description": "Indicates if listing is personalizable"
                                    },
                                    "is_private": {
                                        "type": "boolean",
                                        "description": "Is this listing a private listing that is intendend for a specific buyer and hidden from shop view."
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "Indicates whether the listing is physical or a digital download.",
                                        "enum": ["physical", "download"],
                                        "default": 0
                                    },
                                    "state": {
                                        "type": "string",
                                        "description": "One of active, removed, sold_out, expired, alchemy, edit, create, private, or unavailable.",
                                        "enum": [
                                            "active",
                                            "inactive",
                                            "removed",
                                            "draft",
                                            "expired",
                                            "sold_out"
                                        ],
                                        "default": 0
                                    },
                                    "channels": {
                                        "type": "array",
                                        "description": "A channel is a venue for sellers to reach buyers in order to make sales.",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "etsy.com",
                                                "wholesale",
                                                "pattern",
                                                "sell_on_facebook"
                                            ]
                                        },
                                        "default": ["etsy.com"]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A single ShopListing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListing"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There was a problem with the request data. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_w"]
                    }
                ]
            }
        },
        "/v3/application/listings/{listing_id}/files/{listing_file_id}": {
            "delete": {
                "operationId": "deleteListingFile",
                "description": "Deletes a ShopListingFile from the given ShopListing. If the ShopListingFile being deleted is the last ShopListingFile for a digital ShopListing, the ShopListing will be converted to a physical ShopListing. Returns the remaining ShopListingFile records associated with the given ShopListing.",
                "tags": ["ShopListing File"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique ID of an Etsy Listing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of an Etsy Listing.",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "listing_file_id",
                        "in": "path",
                        "description": "The unique ID of a digital ListingFile associated with a digital ShopListing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of a digital ListingFile associated with a digital ShopListing.",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of remaining ShopListingFile resources attached to the Listing.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListingFiles"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "There was a request conflict with current state of the target resource. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_w"]
                    }
                ]
            },
            "get": {
                "operationId": "getListingFile",
                "description": "Get a single ShopListingFile associated with the given digital ShopListing. The endpoint will return an empty result set for physical ShopListing records.",
                "tags": ["ShopListing File"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique ID of an Etsy Listing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of an Etsy Listing.",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "listing_file_id",
                        "in": "path",
                        "description": "The unique ID of a digital ListingFile associated with a digital ShopListing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of a digital ListingFile associated with a digital ShopListing.",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ShopListingFile resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListingFile"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_r"]
                    }
                ]
            }
        },
        "/v3/application/listings/{listing_id}/files": {
            "get": {
                "operationId": "getAllListingFiles",
                "description": "Get all ShopListingFile records for the given digital ShopListing. This endpoint will return an empty result set for physical ShopListing records.",
                "tags": ["ShopListing File"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique ID of an Etsy Listing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of an Etsy Listing.",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of ShopListingFile resources.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListingFiles"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_r"]
                    }
                ]
            },
            "post": {
                "operationId": "uploadListingFile",
                "description": "<div class=\"wt-alert wt-alert--inline wt-alert--status-02 wt-mb-xs-2\"><p class=\"wt-text-body-01\">This endpoint isn't functional but we welcome feedback on the proposed schema below.</p></div>\n\nUpload a new ListingFile, or attach an existing file to the given ShopListing. You must either provide the listing_file_id of an existing ListingFile, or the name and file data of a new ListingFile that you are uploading. If you are attaching a ListingFile to a physical ShopListing, the ShopListing will be converted to a digital ShopListing. This will cause the ShopListing to have free shipping and will remove any variations.",
                "tags": ["ShopListing File"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique ID of an Etsy Listing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of an Etsy Listing.",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "listing_file_id": {
                                        "type": "integer",
                                        "description": "The unique ID of a digital ListingFile associated with a digital ShopListing.",
                                        "minimum": 1
                                    },
                                    "file": {
                                        "type": "string",
                                        "description": "A digital file to upload.",
                                        "format": "binary"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "A name for the file being uploaded."
                                    },
                                    "rank": {
                                        "type": "integer",
                                        "description": "The position of the resource in a list, starting at 1.",
                                        "minimum": 1,
                                        "default": 1
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A ShopListingFile resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListingFile"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "501": {
                        "description": "This endpoint is not functional at this time.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_w"]
                    }
                ]
            }
        },
        "/v3/application/listings/active": {
            "get": {
                "operationId": "findAllListingsActive",
                "description": "<div class=\"wt-alert wt-alert--inline wt-alert--status-02 wt-mb-xs-2\"><p class=\"wt-text-body-01\">This endpoint isn't functional but we welcome feedback on the proposed schema below.</p></div>\n\nA list of all active listings on Etsy paginated by their creation date. Without sort_order listings will be returned newest-first by default.",
                "tags": ["ShopListing"],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "A limit on the number of results to be returned.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "description": "A limit on the number of results to be returned.",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The number of items to skip before starting to collect the result set.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "description": "The number of items to skip before starting to collect the result set.",
                            "minimum": 0,
                            "default": 0
                        }
                    },
                    {
                        "name": "keywords",
                        "in": "query",
                        "description": "Search term or phrase to use to narrow down a set of results for a resource",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Search term or phrase to use to narrow down a set of results for a resource",
                            "default": null
                        }
                    },
                    {
                        "name": "sort_on",
                        "in": "query",
                        "description": "The value to sort a search result of listings on. NOTE: sort_on only works when combined with one of the search options (keywords, region, etc.). ",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "The value to sort a search result of listings on. NOTE: sort_on only works when combined with one of the search options (keywords, region, etc.). ",
                            "enum": ["created", "price", "score"],
                            "default": "created"
                        }
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "description": "The ascending(up) or descending(down) order to sort listings by. NOTE: sort_order only works when combined with one of the search options (keywords, region, etc.).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "The ascending(up) or descending(down) order to sort listings by. NOTE: sort_order only works when combined with one of the search options (keywords, region, etc.).",
                            "enum": [
                                "asc",
                                "ascending",
                                "desc",
                                "descending",
                                "up",
                                "down"
                            ],
                            "default": "descending"
                        }
                    },
                    {
                        "name": "min_price",
                        "in": "query",
                        "description": "The minimum price of listings to be returned by a search result",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "description": "The minimum price of listings to be returned by a search result",
                            "format": "float",
                            "default": null
                        }
                    },
                    {
                        "name": "max_price",
                        "in": "query",
                        "description": "The maximum price of listings to be returned by a search result",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "description": "The maximum price of listings to be returned by a search result",
                            "format": "float",
                            "default": null
                        }
                    },
                    {
                        "name": "taxonomy_id",
                        "in": "query",
                        "description": "The seller taxonomy id of the listing",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "description": "The seller taxonomy id of the listing",
                            "minimum": 1,
                            "default": null
                        }
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "description": "A valid numeric latitude, between -90.0 and 90.0",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "description": "A valid numeric latitude, between -90.0 and 90.0",
                            "format": "float",
                            "minimum": -90,
                            "maximum": 90,
                            "default": null
                        }
                    },
                    {
                        "name": "lon",
                        "in": "query",
                        "description": "A valid numeric longitude, between -180.0 and 180.0",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "description": "A valid numeric longitude, between -180.0 and 180.0",
                            "format": "float",
                            "minimum": -180,
                            "maximum": 180,
                            "default": null
                        }
                    },
                    {
                        "name": "region",
                        "in": "query",
                        "description": "An ISO 3166-1 alpha 2 country code. Currently supported values: US, CA, AU, GB, DE, FR, NL, IT, ES, RU, PT, GR, IE, JP, NZ, PL",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "An ISO 3166-1 alpha 2 country code. Currently supported values: US, CA, AU, GB, DE, FR, NL, IT, ES, RU, PT, GR, IE, JP, NZ, PL",
                            "default": null
                        }
                    },
                    {
                        "name": "geo_level",
                        "in": "query",
                        "description": "The geographic level enum(city, state, country) within which to search for listings",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "The geographic level enum(city, state, country) within which to search for listings",
                            "default": "city"
                        }
                    },
                    {
                        "name": "accepts_gift_cards",
                        "in": "query",
                        "description": "Filter for only those listings that accept gift cards",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "description": "Filter for only those listings that accept gift cards",
                            "default": false
                        }
                    },
                    {
                        "name": "translate_keywords",
                        "in": "query",
                        "description": "If translate_keywords is true, it allows for non-English language searches in conjuction with 'language'",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "description": "If translate_keywords is true, it allows for non-English language searches in conjuction with 'language'",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of all active listings on Etsy paginated by their creation date. Without sort_order listings will be returned newest-first by default.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListings"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/application/listings/{listing_id}/images/{listing_image_id}": {
            "delete": {
                "operationId": "deleteListingImage",
                "description": "Open API V3 endpoint to delete a listing image. A copy of the file remains on our servers, and so a deleted image may be re-associated with the listing without re-uploading the original image; see uploadListingImage.",
                "tags": ["ShopListing Image"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique ID of an Etsy Listing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of an Etsy Listing.",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "listing_image_id",
                        "in": "path",
                        "description": "The unique ID of a Listing Image for an Etsy.com Listing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of a Listing Image for an Etsy.com Listing.",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single ListingImage",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingImage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There was a problem with the request data. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_w"]
                    }
                ]
            }
        },
        "/v3/application/openapi/listings/{listing_id}/images/{listing_image_id}": {
            "get": {
                "operationId": "getListingImage",
                "description": "Retrieves a ListingImage resource by ID.",
                "tags": ["ShopListing Image"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique ID of an Etsy Listing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of an Etsy Listing.",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "listing_image_id",
                        "in": "path",
                        "description": "The unique ID of a Listing Image for an Etsy.com Listing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of a Listing Image for an Etsy.com Listing.",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single ListingImage",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingImage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/application/openapi/listings/{listing_id}/images": {
            "get": {
                "operationId": "getListingImages",
                "description": "Retrieves all ListingImage resources for Listing.",
                "tags": ["ShopListing Image"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique ID of an Etsy Listing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of an Etsy Listing.",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single ListingImage",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingImages"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/application/listings/{listing_id}/images": {
            "post": {
                "operationId": "uploadListingImage",
                "description": "Uploads a ListingImage.\n\nA new ListingImage can be uploaded via the image param. A previously deleted ListingImage can be re-associated with a Listing via the listing_image_id param. Only one param should be included per request; if both are present in the request, the endpoint will upload the provided image.",
                "tags": ["ShopListing Image"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique ID of an Etsy Listing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of an Etsy Listing.",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "image": {
                                        "type": "string",
                                        "description": "A name for the file being uploaded.",
                                        "format": "binary"
                                    },
                                    "listing_image_id": {
                                        "type": "integer",
                                        "description": "The unique ID of a Listing Image for an Etsy.com Listing.",
                                        "minimum": 1
                                    },
                                    "rank": {
                                        "type": "integer",
                                        "description": "The position of the resource in a list, starting at 1.",
                                        "minimum": 0,
                                        "default": 1
                                    },
                                    "overwrite": {
                                        "type": "boolean",
                                        "description": "Whether or not to replace the existing image at a given rank.",
                                        "default": false
                                    },
                                    "is_watermarked": {
                                        "type": "boolean",
                                        "description": "Whether or not the uploaded image is watermarked.",
                                        "default": false
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A single ListingImage",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingImage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There was a problem with the request data. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "There was a request conflict with current state of the target resource. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_w"]
                    }
                ]
            }
        },
        "/v3/application/listings/{listing_id}/inventory": {
            "get": {
                "operationId": "getListingInventory",
                "description": "Get the inventory for a listing. When a listing has not been edited using the Etsy.com inventory tools, it will have no inventory records. This endpoint returns SKU data if you're the owner of the inventory records being fetched.",
                "tags": ["ShopListing Inventory"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single ListingInventory record.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingInventory"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_r"]
                    }
                ]
            },
            "put": {
                "operationId": "updateListingInventory",
[...]
