{
    "openapi": "3.0.2",
    "info": {
        "title": "Etsy OpenAPI",
        "description": "<div class=\"wt-text-body-01\"><p class=\"wt-pt-xs-2 wt-pb-xs-2\">Etsy's Open API provides a simple RESTful interface for various Etsy.com features. The API reference documents endpoints are meant to replace <a target=\"_blank\" class=\"wt-text-link wt-p-xs-0\" href=\"https://www.etsy.com/developers/documentation\">Etsy's current Open API</a> this year. Use of the API is subject to the <a target=\"_blank\" class=\"wt-text-link wt-p-xs-0\" href=\"https://www.etsy.com/legal/api\">API Terms of Use</a>.</p><p class=\"wt-pb-xs-5 wt-text-title-01\">If you would like to make requests to the Open API v3 endpoints, please fill out <a target=\"_blank\" class=\"wt-text-link wt-p-xs-0\" href=\"https://docs.google.com/forms/d/e/1FAIpQLSc4qzVlgjkzEkaQvpgX00xvJLjlomRoS-60G9ob_FqCfmbCrA/viewform\">the intake form</a>.</p><p class=\"wt-pb-xs-2\">The API is currently in an experimental, alpha phase meant to validate feature and functionality requirements. During this phase, endpoints may have significant design changes but developers will have an opportunity to preview endpoints and provide feedback that will help shape Etsy's Open API functionality. The alpha API design is not stable and will likely change in response to feedback but we'll communicate changes as they are made.</p><p class=\"wt-pb-xs-2\">All of the endpoints are callable, but many endpoints are currently interface stubs and will return a \"501 Not Implemented\" response code when called; the documentation for each of these stub endpoints includes an alert calling this out.</p><p class=\"wt-pb-xs-2\">If you'd like to report an issue or provide feedback on the API design, <a target=\"_blank\" class=\"wt-text-link wt-p-xs-0\" href=\"https://github.com/etsy/open-api/issues/new/choose\">please add an issue in Github</a>. You grant us a license to use your feedback as described in Etsy's primary <a target=\"_blank\" class=\"wt-text-link wt-p-xs-0\" href=\"https://www.etsy.com/legal/terms-of-use\">Terms of Use.</a></p></div>&copy; 2021 Etsy, Inc. All Rights Reserved. Use of this code is subject to Etsy's <a class='wt-text-link wt-p-xs-0' target='_blank' href='https://www.etsy.com/legal/api'>API Developer Terms of Use</a>.",
        "termsOfService": "https://www.etsy.com/legal/api",
        "contact": {
            "email": "developers@etsy.com"
        },
        "version": "3.0.0",
        "x-logo": {
            "url": "https://img0.etsystatic.com/site-assets/open-api/etsy_logo.png",
            "backgroundColor": "#FFFFFF",
            "altText": "Etsy Logo"
        }
    },
    "servers": [
        {
            "url": "https://openapi.etsy.com",
            "description": "Base url for all Integrations endpoints."
        }
    ],
    "security": [
        {
            "api_key": []
        }
    ],
    "tags": [
        {
            "name": "User"
        },
        {
            "name": "UserAddress"
        },
        {
            "name": "Shop Receipt Transactions"
        },
        {
            "name": "Shop"
        },
        {
            "name": "ShopListing"
        },
        {
            "name": "Shop Section"
        },
        {
            "name": "SellerTaxonomy"
        },
        {
            "name": "Review"
        },
        {
            "name": "Shop Receipt"
        },
        {
            "name": "Other"
        },
        {
            "name": "Payment"
        },
        {
            "name": "Ledger Entry"
        },
        {
            "name": "ShopListing VariationImage"
        },
        {
            "name": "ShopListing Translation"
        },
        {
            "name": "ShopListing ShippingProfile"
        },
        {
            "name": "ShopListing Inventory"
        },
        {
            "name": "ShopListing Offering"
        },
        {
            "name": "ShopListing Product"
        },
        {
            "name": "ShopListing Image"
        },
        {
            "name": "ShopListing File"
        }
    ],
    "x-tagGroups": [
        {
            "name": "Listing Management",
            "tags": [
                "SellerTaxonomy",
                "ShopListing",
                "ShopListing File",
                "ShopListing Image",
                "ShopListing Inventory",
                "ShopListing Offering",
                "ShopListing Product",
                "ShopListing ShippingProfile",
                "ShopListing Translation",
                "ShopListing VariationImage"
            ]
        },
        {
            "name": "Other",
            "tags": ["Other"]
        },
        {
            "name": "Payment Management",
            "tags": ["Ledger Entry", "Payment"]
        },
        {
            "name": "Receipt Management",
            "tags": ["Shop Receipt", "Shop Receipt Transactions"]
        },
        {
            "name": "Review Management",
            "tags": ["Review"]
        },
        {
            "name": "Shop Management",
            "tags": ["Shop", "Shop Section"]
        },
        {
            "name": "User Management",
            "tags": ["User", "UserAddress"]
        }
    ],
    "paths": {
        "/v3/application/shops/{shop_id}/listings": {
            "post": {
                "operationId": "createListing",
                "description": "<div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-03 wt-mr-xs-2\">Alpha</span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Give feedback</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">This endpoint is ready for use as defined below, but is access-controlled and may change significantly before launch. If you'd like access, please email <a href=\"mailto:developers@etsy.com\" class=\"wt-text-link\" target=\"_blank\">developers@etsy.com</a>.</p></div>\n\nCreates a [listing](/openapi/developers#tag/ShopListing) of a product for sale in a shop.",
                "tags": ["ShopListing"],
                "parameters": [
                    {
                        "name": "shop_id",
                        "in": "path",
                        "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "quantity",
                                    "title",
                                    "description",
                                    "price",
                                    "who_made",
                                    "when_made",
                                    "taxonomy_id"
                                ],
                                "properties": {
                                    "quantity": {
                                        "type": "integer",
                                        "description": "The positive non-zero number of products available for purchase in the listing. Note: The listing quantity is the sum of available offering quantities. You can request the quantities for individual offerings from the ListingInventory resource using the [getListingInventory](/openapi/developeres#operation/getListingInventory) endpoint."
                                    },
                                    "title": {
                                        "type": "string",
                                        "description": "The listing's title string. Valid title strings contain only letters, numbers, punctuation marks, mathematical symbols, whitespace characters, ™, ©, and ®. (regex: /[^\\p{L}\\p{Nd}\\p{P}\\p{Sm}\\p{Zs}™©®]/u) You can only use the %, :, & and + characters once each."
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "A description string of the product for sale in the listing."
                                    },
                                    "price": {
                                        "type": "number",
                                        "description": "The positive non-zero price of the product. (Sold product listings are private) Note: The price is the minimum possible price. The getInventory method requests exact prices for available offerings.",
                                        "format": "float"
                                    },
                                    "who_made": {
                                        "type": "string",
                                        "description": "An enumerated string inidcated who made the product. Helps buyers locate the listing under the Handmade heading.",
                                        "enum": [
                                            "i_did",
                                            "someone_else",
                                            "collective"
                                        ]
                                    },
                                    "when_made": {
                                        "type": "string",
                                        "description": "An enumerated string for the era in which the maker made the product in this listing. Helps buyers locate the listing under the Vintage heading.",
                                        "enum": [
                                            "made_to_order",
                                            "2020_2021",
                                            "2010_2019",
                                            "2002_2009",
                                            "before_2002",
                                            "2000_2001",
                                            "1990s",
                                            "1980s",
                                            "1970s",
                                            "1960s",
                                            "1950s",
                                            "1940s",
                                            "1930s",
                                            "1920s",
                                            "1910s",
                                            "1900s",
                                            "1800s",
                                            "1700s",
                                            "before_1700"
                                        ]
                                    },
                                    "taxonomy_id": {
                                        "type": "integer",
                                        "description": "The numeric taxonomy ID of the listing. The seller manages listing taxonomy IDs for their shop.  [See SellerTaxonomy](/openapi/developers#tag/SellerTaxonomy) for more information.",
                                        "minimum": 1
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "An enumerated type string that indicates whether the listing is physical or a digital download.",
                                        "enum": ["physical", "download", "both"]
                                    },
                                    "materials": {
                                        "type": "array",
                                        "description": "A list of material strings for materials used in the product. Valid materials strings contain only letters, numbers, and whitespace characters. (regex: /[^\\p{L}\\p{Nd}\\p{Zs}]/u) Default value is null.",
                                        "nullable": true,
                                        "items": {
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "shipping_profile_id": {
                                        "type": "integer",
                                        "description": "The numeric ID of the [shipping profile](/openapi/developeres#tag/ShopListing-ShippingProfile) associated with the listing. Default value is null.",
                                        "nullable": true,
                                        "minimum": 1
                                    },
                                    "shop_section_id": {
                                        "type": "integer",
                                        "description": "The numeric ID of the [shop section](/openapi/developeres#tag/Shop-Section) for this listing. Default value is null.",
                                        "nullable": true,
                                        "minimum": 1
                                    },
                                    "processing_min": {
                                        "type": "integer",
                                        "description": "The minimum number of days required to process this listing. Default value is null.",
                                        "nullable": true
                                    },
                                    "processing_max": {
                                        "type": "integer",
                                        "description": "The maximum number of days required to process this listing. Default value is null.",
                                        "nullable": true
                                    },
                                    "tags": {
                                        "type": "array",
                                        "description": "A list of tag strings for the listing. Valid tag strings contain only letters, numbers, whitespace characters, -, ', ™, ©, and ®. (regex: /[^\\p{L}\\p{Nd}\\p{Zs}\\-'™©®]/u) Default value is null.",
                                        "nullable": true,
                                        "items": {
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "recipient": {
                                        "type": "string",
                                        "description": "An enumerated string indicating a person for whom this product would make an appropriate gift. Default value is null.",
                                        "nullable": true,
                                        "enum": [
                                            "men",
                                            "women",
                                            "unisex_adults",
                                            "teen_boys",
                                            "teen_girls",
                                            "teens",
                                            "boys",
                                            "girls",
                                            "children",
                                            "baby_boys",
                                            "baby_girls",
                                            "babies",
                                            "birds",
                                            "cats",
                                            "dogs",
                                            "pets",
                                            "not_specified"
                                        ]
                                    },
                                    "occasion": {
                                        "type": "string",
                                        "description": "An enumerated string indicating an occassion for which this product would make an appropriate gift. Default value is null.",
                                        "nullable": true,
                                        "enum": [
                                            "anniversary",
                                            "baptism",
                                            "bar_or_bat_mitzvah",
                                            "birthday",
                                            "canada_day",
                                            "chinese_new_year",
                                            "cinco_de_mayo",
                                            "confirmation",
                                            "christmas",
                                            "day_of_the_dead",
                                            "easter",
                                            "eid",
                                            "engagement",
                                            "fathers_day",
                                            "get_well",
                                            "graduation",
                                            "halloween",
                                            "hanukkah",
                                            "housewarming",
                                            "kwanzaa",
                                            "prom",
                                            "july_4th",
                                            "mothers_day",
                                            "new_baby",
                                            "new_years",
                                            "quinceanera",
                                            "retirement",
                                            "st_patricks_day",
                                            "sweet_16",
                                            "sympathy",
                                            "thanksgiving",
                                            "valentines",
                                            "wedding"
                                        ]
                                    },
                                    "styles": {
                                        "type": "array",
                                        "description": "An array of style strings for this listing, each of which is free-form text string such as \"Formal\", or \"Steampunk\". A Listing may have up to two styles. Valid style strings contain only letters, numbers, and whitespace characters. (regex: /[^\\p{L}\\p{Nd}\\p{Zs}]/u) Default value is null.",
                                        "nullable": true,
                                        "items": {
                                            "type": "string",
                                            "nullable": true
                                        }
                                    },
                                    "item_weight": {
                                        "type": "number",
                                        "description": "The numeric weight of the product measured in units set in 'item_weight_unit'. Default value is null.",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "item_length": {
                                        "type": "number",
                                        "description": "The numeric length of the product measured in units set in 'item_dimensions_unit'. Default value is null.",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "item_width": {
                                        "type": "number",
                                        "description": "The numeric width of the product measured in units set in 'item_dimensions_unit'. Default value is null.",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "item_height": {
                                        "type": "number",
                                        "description": "The numeric height of the product measured in units set in 'item_dimensions_unit'. Default value is null.",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "item_weight_unit": {
                                        "type": "string",
                                        "description": "A string defining the units used to measure the weight of the product. Default value is null.",
                                        "nullable": true,
                                        "enum": ["oz", "lb", "g", "kg"]
                                    },
                                    "item_dimensions_unit": {
                                        "type": "string",
                                        "description": "A string defining the units used to measure the dimensions of the product. Default value is null.",
                                        "nullable": true,
                                        "enum": [
                                            "in",
                                            "ft",
                                            "mm",
                                            "cm",
                                            "m",
                                            "yd",
                                            "inches"
                                        ]
                                    },
                                    "is_personalizable": {
                                        "type": "boolean",
                                        "description": "When true, this listing is personalizable. The default value is null."
                                    },
                                    "image_ids": {
                                        "type": "array",
                                        "description": "An array of numeric image IDs of the images in a listing, which can include up to 10 images.",
                                        "items": {
                                            "type": "integer",
                                            "minimum": 1
                                        }
                                    },
                                    "state": {
                                        "type": "string",
                                        "description": "An enumerated string from any of: active, removed, sold_out, expired, alchemy, edit, create, private, or unavailable.",
                                        "enum": ["0", "1", "2", "3", "4", "5"]
                                    },
                                    "channels": {
                                        "type": "array",
                                        "description": "An array of enumerated channel ID strings. A channel is a venue for sellers to reach buyers in order to make sales.",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "etsy.com",
                                                "wholesale",
                                                "pattern",
                                                "sell_on_facebook"
                                            ]
                                        }
                                    },
                                    "is_supply": {
                                        "type": "boolean",
                                        "description": "When true, tags the listing as a supply product. Helps buyers locate the listing under the Supplies heading."
                                    },
                                    "is_customizable": {
                                        "type": "boolean",
                                        "description": "When true, a buyer may contact the seller for a customized order. The default value is true when a shop accepts custom orders. Does not apply to shops that do not accept custom orders."
                                    },
                                    "is_taxable": {
                                        "type": "boolean",
                                        "description": "When true, applicable [shop](/openapi/developeres#tag/Shop) tax rates apply to this listing at checkout."
                                    },
                                    "is_private": {
                                        "type": "boolean",
                                        "description": "When true, this is a private listing intendend for a specific buyer and hidden from shop view."
                                    },
                                    "should_auto_renew": {
                                        "type": "boolean",
                                        "description": "When true, renews a listing for four months upon expriation. If set to true when previously false, etsy.com renews the listing before it expires, but the renewal period starts immidiately rather than extending the listing's expiration date. Any unused time remaining on the listing is lost. Renewals result in charges to a user's bill."
                                    },
                                    "is_digital": {
                                        "type": "boolean",
                                        "description": "When true, product is digital."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "A single ShopListing",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListing"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There was a problem with the request data. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_w"]
                    }
                ]
            }
        },
        "/v3/application/listings/{listing_id}": {
            "delete": {
                "operationId": "deleteListing",
                "description": "<div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-03 wt-mr-xs-2\">Alpha</span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Give feedback</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">This endpoint is ready for use as defined below, but is access-controlled and may change significantly before launch. If you'd like access, please email <a href=\"mailto:developers@etsy.com\" class=\"wt-text-link\" target=\"_blank\">developers@etsy.com</a>.</p></div>\n\nOpen API V3 endpoint to delete a ShopListing. A ShopListing can be deleted only if the state is one of the following:  SOLD_OUT, DRAFT, EXPIRED, INACTIVE, ACTIVE and is_available or ACTIVE and has seller flags:  SUPRESSED (frozen), VACATION, CUSTOM_SHOPS (pattern), SELL_ON_FACEBOOK",
                "tags": ["ShopListing"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "403": {
                        "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "There was a request conflict with current state of the target resource. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "The Listing resource was correctly deleted"
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_d"]
                    }
                ]
            },
            "get": {
                "operationId": "getListing",
                "description": "<div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-03 wt-mr-xs-2\">Alpha</span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Give feedback</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">This endpoint is ready for use as defined below, but is access-controlled and may change significantly before launch. If you'd like access, please email <a href=\"mailto:developers@etsy.com\" class=\"wt-text-link\" target=\"_blank\">developers@etsy.com</a>.</p></div>\n\nRetrieves a listing record by listing ID.",
                "tags": ["ShopListing"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single Listing.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListing"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/application/listings/{listing_id}/files/{listing_file_id}": {
            "delete": {
                "operationId": "deleteListingFile",
                "description": "<div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-03 wt-mr-xs-2\">Alpha</span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Give feedback</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">This endpoint is ready for use as defined below, but is access-controlled and may change significantly before launch. If you'd like access, please email <a href=\"mailto:developers@etsy.com\" class=\"wt-text-link\" target=\"_blank\">developers@etsy.com</a>.</p></div>\n\nDeletes a ShopListingFile from the given ShopListing. If the ShopListingFile being deleted is the last ShopListingFile for a digital ShopListing, the ShopListing will be converted to a physical ShopListing. Returns the remaining ShopListingFile records associated with the given ShopListing.",
                "tags": ["ShopListing File"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "listing_file_id",
                        "in": "path",
                        "description": "The unique ID of a digital ListingFile associated with a digital ShopListing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of a digital ListingFile associated with a digital ShopListing.",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "409": {
                        "description": "There was a request conflict with current state of the target resource. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "The ShopListingFile resource was correctly deleted"
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_w"]
                    }
                ]
            },
            "get": {
                "operationId": "getListingFile",
                "description": "<div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-03 wt-mr-xs-2\">Alpha</span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Give feedback</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">This endpoint is ready for use as defined below, but is access-controlled and may change significantly before launch. If you'd like access, please email <a href=\"mailto:developers@etsy.com\" class=\"wt-text-link\" target=\"_blank\">developers@etsy.com</a>.</p></div>\n\nGet a single ShopListingFile associated with the given digital ShopListing. The endpoint will return an empty result set for physical ShopListing records.",
                "tags": ["ShopListing File"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "listing_file_id",
                        "in": "path",
                        "description": "The unique ID of a digital ListingFile associated with a digital ShopListing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique ID of a digital ListingFile associated with a digital ShopListing.",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A ShopListingFile resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListingFile"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_r"]
                    }
                ]
            }
        },
        "/v3/application/listings/{listing_id}/files": {
            "get": {
                "operationId": "getAllListingFiles",
                "description": "<div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-03 wt-mr-xs-2\">Alpha</span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Give feedback</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">This endpoint is ready for use as defined below, but is access-controlled and may change significantly before launch. If you'd like access, please email <a href=\"mailto:developers@etsy.com\" class=\"wt-text-link\" target=\"_blank\">developers@etsy.com</a>.</p></div>\n\nGet all ShopListingFile records for the given digital ShopListing. This endpoint will return an empty result set for physical ShopListing records.",
                "tags": ["ShopListing File"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of ShopListingFile resources.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListingFiles"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_r"]
                    }
                ]
            },
            "post": {
                "operationId": "uploadListingFile",
                "description": "<div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-01 wt-mr-xs-2\"> Feedback only </span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Give feedback</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">Development for this endpoint is in progress. It will only return a 501 response.</p></div>\n\nUpload a new ListingFile, or attach an existing file to the given ShopListing. You must either provide the listing_file_id of an existing ListingFile, or the name and file data of a new ListingFile that you are uploading. If you are attaching a ListingFile to a physical ShopListing, the ShopListing will be converted to a digital ShopListing. This will cause the ShopListing to have free shipping and will remove any variations.",
                "tags": ["ShopListing File"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "listing_file_id": {
                                        "type": "integer",
                                        "description": "The unique ID of a digital ListingFile associated with a digital ShopListing.",
                                        "minimum": 1
                                    },
                                    "file": {
                                        "type": "string",
                                        "description": "A digital file to upload.",
                                        "format": "binary"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "A name for the file being uploaded."
                                    },
                                    "rank": {
                                        "type": "integer",
                                        "description": "The position of an element in a list, starting at 1.",
                                        "minimum": 1,
                                        "default": 1
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A ShopListingFile resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListingFile"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "501": {
                        "description": "This endpoint is not functional at this time.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_w"]
                    }
                ]
            }
        },
        "/v3/application/listings/active": {
            "get": {
                "operationId": "findAllListingsActive",
                "description": "<div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-03 wt-mr-xs-2\">Alpha</span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Give feedback</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">This endpoint is ready for use as defined below, but is access-controlled and may change significantly before launch. If you'd like access, please email <a href=\"mailto:developers@etsy.com\" class=\"wt-text-link\" target=\"_blank\">developers@etsy.com</a>.</p></div>\n\nA list of all active listings on Etsy paginated by their creation date. Without sort_order listings will be returned newest-first by default.",
                "tags": ["ShopListing"],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "description": "The maximum number of results to return.",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The number of records to skip before selecting the first result.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "description": "The number of records to skip before selecting the first result.",
                            "minimum": 0,
                            "default": 0
                        }
                    },
                    {
                        "name": "keywords",
                        "in": "query",
                        "description": "Search term or phrase that must appear in all results.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Search term or phrase that must appear in all results.",
                            "default": null
                        }
                    },
                    {
                        "name": "sort_on",
                        "in": "query",
                        "description": "The value to sort a search result of listings on. NOTE: sort_on only works when combined with one of the search options (keywords, region, etc.). ",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "The value to sort a search result of listings on. NOTE: sort_on only works when combined with one of the search options (keywords, region, etc.). ",
                            "enum": ["created", "price", "score"],
                            "default": "created"
                        }
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "description": "The ascending(up) or descending(down) order to sort listings by. NOTE: sort_order only works when combined with one of the search options (keywords, region, etc.).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "The ascending(up) or descending(down) order to sort listings by. NOTE: sort_order only works when combined with one of the search options (keywords, region, etc.).",
                            "enum": [
                                "asc",
                                "ascending",
                                "desc",
                                "descending",
                                "up",
                                "down"
                            ],
                            "default": "desc"
                        }
                    },
                    {
                        "name": "min_price",
                        "in": "query",
                        "description": "The minimum price of listings to be returned by a search result.",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "description": "The minimum price of listings to be returned by a search result.",
                            "format": "float",
                            "default": null
                        }
                    },
                    {
                        "name": "max_price",
                        "in": "query",
                        "description": "The maximum price of listings to be returned by a search result.",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "description": "The maximum price of listings to be returned by a search result.",
                            "format": "float",
                            "default": null
                        }
                    },
                    {
                        "name": "taxonomy_id",
                        "in": "query",
                        "description": "The numeric taxonomy ID of the listing. The seller manages listing taxonomy IDs for their shop.  [See SellerTaxonomy](/openapi/developers#tag/SellerTaxonomy) for more information.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "description": "The numeric taxonomy ID of the listing. The seller manages listing taxonomy IDs for their shop.  [See SellerTaxonomy](/openapi/developers#tag/SellerTaxonomy) for more information.",
                            "minimum": 1,
                            "default": null
                        }
                    },
                    {
                        "name": "shop_location",
                        "in": "query",
                        "description": "Filters by shop location. If location cannot be parsed, Etsy responds with an error.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Filters by shop location. If location cannot be parsed, Etsy responds with an error.",
                            "default": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of all active listings on Etsy paginated by their creation date. Without sort_order listings will be returned newest-first by default.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListings"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/application/shops/{shop_id}/listings/active": {
            "get": {
                "operationId": "findAllActiveListingsByShop",
                "description": "<div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-03 wt-mr-xs-2\">Alpha</span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Give feedback</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">This endpoint is ready for use as defined below, but is access-controlled and may change significantly before launch. If you'd like access, please email <a href=\"mailto:developers@etsy.com\" class=\"wt-text-link\" target=\"_blank\">developers@etsy.com</a>.</p></div>\n\nA list of all active listings on Etsy paginated by their creation date.",
                "tags": ["ShopListing"],
                "parameters": [
                    {
                        "name": "shop_id",
                        "in": "path",
                        "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "description": "The maximum number of results to return.",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The number of records to skip before selecting the first result.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "description": "The number of records to skip before selecting the first result.",
                            "minimum": 0,
                            "default": 0
                        }
                    },
                    {
                        "name": "keywords",
                        "in": "query",
                        "description": "Search term or phrase that must appear in all results.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Search term or phrase that must appear in all results.",
                            "default": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of all active listings on Etsy paginated by their creation date.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ShopListings"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/application/shops/{shop_id}/listings/{listing_id}/images/{listing_image_id}": {
            "delete": {
                "operationId": "deleteListingImage",
                "description": "<div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-03 wt-mr-xs-2\">Alpha</span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Give feedback</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">This endpoint is ready for use as defined below, but is access-controlled and may change significantly before launch. If you'd like access, please email <a href=\"mailto:developers@etsy.com\" class=\"wt-text-link\" target=\"_blank\">developers@etsy.com</a>.</p></div>\n\nOpen API V3 endpoint to delete a listing image. A copy of the file remains on our servers, and so a deleted image may be re-associated with the listing without re-uploading the original image; see uploadListingImage.",
                "tags": ["ShopListing Image"],
                "parameters": [
                    {
                        "name": "shop_id",
                        "in": "path",
                        "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "listing_image_id",
                        "in": "path",
                        "description": "The unique numeric image ID of an image in a listing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique numeric image ID of an image in a listing.",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There was a problem with the request data. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "The ListingImage resource was correctly deleted"
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_w"]
                    }
                ]
            }
        },
        "/v3/application/shop/{shop_id}/listings/{listing_id}/images/{listing_image_id}": {
            "get": {
                "operationId": "getListingImage",
                "description": "<div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-03 wt-mr-xs-2\">Alpha</span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Give feedback</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">This endpoint is ready for use as defined below, but is access-controlled and may change significantly before launch. If you'd like access, please email <a href=\"mailto:developers@etsy.com\" class=\"wt-text-link\" target=\"_blank\">developers@etsy.com</a>.</p></div>\n\nRetrieves a ListingImage resource by ID.",
                "tags": ["ShopListing Image"],
                "parameters": [
                    {
                        "name": "shop_id",
                        "in": "path",
                        "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "listing_image_id",
                        "in": "path",
                        "description": "The unique numeric image ID of an image in a listing.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique numeric image ID of an image in a listing.",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single ListingImage",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingImage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/application/shops/{shop_id}/listings/{listing_id}/images": {
            "get": {
                "operationId": "getListingImages",
                "description": "<div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-03 wt-mr-xs-2\">Alpha</span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Give feedback</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">This endpoint is ready for use as defined below, but is access-controlled and may change significantly before launch. If you'd like access, please email <a href=\"mailto:developers@etsy.com\" class=\"wt-text-link\" target=\"_blank\">developers@etsy.com</a>.</p></div>\n\nRetrieves all ListingImage resources for Listing.",
                "tags": ["ShopListing Image"],
                "parameters": [
                    {
                        "name": "shop_id",
                        "in": "path",
                        "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single ListingImage",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingImages"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "uploadListingImage",
                "description": "<div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-03 wt-mr-xs-2\">Alpha</span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Give feedback</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">This endpoint is ready for use as defined below, but is access-controlled and may change significantly before launch. If you'd like access, please email <a href=\"mailto:developers@etsy.com\" class=\"wt-text-link\" target=\"_blank\">developers@etsy.com</a>.</p></div>\n\nUploads a ListingImage.\\n\\nA new ListingImage can be uploaded via the image param. A previously deleted ListingImage can be re-associated with a Listing via the listing_image_id param. Only one param should be included per request; if both are present in the request, the endpoint will upload the provided image.",
                "tags": ["ShopListing Image"],
                "parameters": [
                    {
                        "name": "shop_id",
                        "in": "path",
                        "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "image": {
                                        "type": "string",
                                        "description": "A name for the file being uploaded.",
                                        "format": "binary"
                                    },
                                    "listing_image_id": {
                                        "type": "integer",
                                        "description": "The unique numeric image ID of an image in a listing.",
                                        "minimum": 1
                                    },
                                    "rank": {
                                        "type": "integer",
                                        "description": "The position of an element in a list, starting at 1.",
                                        "minimum": 0,
                                        "default": 1
                                    },
                                    "overwrite": {
                                        "type": "boolean",
                                        "description": "When true, this request replaces the existing image at a given rank.",
                                        "default": false
                                    },
                                    "is_watermarked": {
                                        "type": "boolean",
                                        "description": "When true, indicates that the uploaded image has a watermark.",
                                        "default": false
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A single ListingImage",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingImage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There was a problem with the request data. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "There was a request conflict with current state of the target resource. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_w"]
                    }
                ]
            }
        },
        "/v3/application/listings/{listing_id}/inventory": {
            "get": {
                "operationId": "getListingInventory",
                "description": "<div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-03 wt-mr-xs-2\">Alpha</span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Give feedback</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">This endpoint is ready for use as defined below, but is access-controlled and may change significantly before launch. If you'd like access, please email <a href=\"mailto:developers@etsy.com\" class=\"wt-text-link\" target=\"_blank\">developers@etsy.com</a>.</p></div>\n\nGet the inventory for a listing. When a listing has not been edited using the Etsy.com inventory tools, it will have no inventory records. This endpoint returns SKU data if you're the owner of the inventory records being fetched.",
                "tags": ["ShopListing Inventory"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single ListingInventory record.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingInventory"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "The server encountered an internal error. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": [],
                        "oauth2": ["listings_r"]
                    }
                ]
            },
            "put": {
                "operationId": "updateListingInventory",
                "description": "<div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><span class=\"wt-badge wt-badge--notification-03 wt-mr-xs-2\">Alpha</span><a class=\"wt-text-link\" href=\"https://github.com/etsy/open-api/issues/new/choose\" target=\"_blank\" rel=\"noopener noreferrer\">Give feedback</a></div><div class=\"wt-display-flex-xs wt-align-items-center wt-mt-xs-2 wt-mb-xs-3\"><p class=\"wt-text-body-01 banner-text\">This endpoint is ready for use as defined below, but is access-controlled and may change significantly before launch. If you'd like access, please email <a href=\"mailto:developers@etsy.com\" class=\"wt-text-link\" target=\"_blank\">developers@etsy.com</a>.</p></div>\n\nUpdate the inventory for a listing. The update will fail if the supplied values for product sku and offering quantity and price are incompatible with the supplied values of the 'on_property_*' fields. When supplying a price, supply a float equivalent to amount divided by divisor as specified in the Money resource.",
                "tags": ["ShopListing Inventory"],
                "parameters": [
                    {
                        "name": "listing_id",
                        "in": "path",
                        "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "description": "The unique numeric ID for a listing in a specific [shop](/openapi/developeres#tag/Shop).",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": ["products"],
                                "properties": {
                                    "products": {
                                        "type": "array",
                                        "description": "Should be a JSON array of products, even if you only send a single product. All field names in the JSON blob should be lowercase.",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "sku": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "property_values": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "property_id": {
                                                                "type": "integer",
                                                                "minimum": 1
                                                            },
                                                            "value_ids": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "integer",
                                                                    "minimum": 1
                                                                }
                                                            },
                                                            "scale_id": {
                                                                "type": "integer",
                                                                "nullable": true,
                                                                "minimum": 1
                                                            },
                                                            "property_name": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "values": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "offerings": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float"
                                                            },
                                                            "quantity": {
                                                                "type": "integer"
                                                            },
                                                            "is_enabled": {
                                                                "type": "boolean"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "price_on_property": {
                                        "type": "array",
                                        "description": "An array of the property_ids of the properties which price depends on (if any).",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "quantity_on_property": {
                                        "type": "array",
                                        "description": "An array of the property_ids of the properties which quantity depends on (if any).",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "sku_on_property": {
                                        "type": "array",
                                        "description": "An array of the property_id of the properties which sku depends on (if any).",
                                        "items": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A single ListingInventory record.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingInventory"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "A resource could not be found. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "There was a problem with the request data. See the error message for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
[...]
